* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background: url("./Bg\ \(1\).png");
    height: 100vh;
}
.container {
    width: 90%;
    margin: 0 auto;
}
button {
    border: none;
}
a {
    text-decoration: none;
}
#header {
    margin-top: 30px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav a {
    color: #F9FAFB;
font-size: 14px;
font-weight: 500;
margin: 0 30px;
}

.header-nav button {
    padding: 12px 24px;
    border-radius: 5px;
background: var(--Gardient, linear-gradient(90deg, #2563EB 0.36%, #D946EF 201.02%));
color: #F9FAFB;
font-size: 14px;
font-weight: 500;
transition: 1s;
}
.header-nav button:hover {
    background:#D946EF;
transform: rotate(180deg);


}
.virtual {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.virtual-title h1 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
font-size: 58px;
font-weight: 600;
line-height: 84px; 
letter-spacing: 1.16px;
background: var(--Gd, linear-gradient(90deg, #2563EB 0.11%, #D946EF 58.65%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.virtual-title p {
    color: #E5E7EB;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
font-size: 15px;
font-weight: 0;
line-height: 30px; 
margin: 30px 0;

}
.virtual-btn1 {
    padding: 15px 28px;
    border-radius: 6px;
background: var(--Gardient, linear-gradient(90deg, #2563EB 0.36%, #D946EF 201.02%));
color: #F9FAFB;
font-size: 16px;
font-weight: 500;
}
.virtual-btn2 {
    padding: 15px 28px;
    background: transparent;
    color: #f7f9fa;
font-size: 16px;
font-weight: 500;
}
#service {
    margin-top: 130px;
}
.service h2 {
    color: #FFF;
font-size: 42px;
font-weight: 700;
line-height: normal;
text-align: center;
}
.service-p {
    color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin: 20px 0;
}
.service-info {
    display: flex;
}
.info {
    width: 370px;
height: 336px;

    border-radius: 34px;
border: 1px solid var(--Bg-2, rgba(255, 255, 255, 0.08));
background: linear-gradient(268deg, rgba(254, 254, 255, 0.03) -11.04%, rgba(255, 255, 255, 0.02) 104.89%);

/* Shadow  */
box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);
}
.order{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background: var(--4,linear-gradient(180deg, #8684ED 0%,#4247BB 100%));
    margin-left: 140px;
    border-radius: 50%;
    background: var(--4,linear-gradient(180deg, #D97F95 0%,#923250 100%))
    
    
}

.info{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}


.info h3 {
    color: #FFF;
font-size: 24px;
font-weight: 600;
text-align: center;
margin: 15px 0;

}
.info p {
    color: #FFF;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
text-align: center;
}
.info button {
    background: transparent;color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-top: 15px;
}






